.Signup {
  position: absolute;
  width: 100%;
  height: 100%;
}
.Signup form {
  width: 100%;
  height: 100%;
}
.Signup input {
  flex: 0 0 100%;
}
.Signup label {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: 500;
  font-size: 1.2rem;
}
.Signup button {
    flex: 0 0 100%;
    height: 50px;
    margin-top: auto;
}

.Signup p.errorField {
  color: red;
  font-weight: 600;
  font-size: 1.6rem;
}