.modalWrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #00000045;
  z-index: 100;
  display: none;
}
.modalWrapper.active {
  display: block;
}
.modalContainer {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aliceblue;
  border-radius: 25px;
  z-index: 10000;
  overflow: hidden;
  padding: 25px;
  
}
.modalContainer.extended {
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
}
.modalHeader {
  width: 100%;
  display: flex;
  /* text-align: center; */
  align-items: center;
  font-size: 1.3rem;
  color: rgb(3, 33, 59);
  overflow: hidden;
}
.modalHeader h2 {
  display: block;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 130px;
}
button.closeBtn {
  margin-left: auto;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  overflow: hidden;
  width: 40px;
  height: 40px;
  transition: 0.5s ease-out all;
}
span.closeIcon {
  font-weight: 600;
  margin: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

span.closeIcon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgb(115, 115, 115);
  transform-origin: center;
  transform: rotate(45deg);
  border-radius: 3px;
  transition: 0.5s ease-out all;
}

span.closeIcon span:nth-child(1) {
  transform: rotate(-45deg);
}
button.closeBtn:active span.closeIcon span {
  width: 90%;
}

.modalBody {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

@media screen and (max-width: 750px) {
  .modalContainer {
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
  }
}
@media screen and (max-width: 475px) {
  .modalContainer {
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
  }
}
@media screen and (max-width: 375px) {
  .modalContainer {
    left:5%;
    right:5%;
    top:5%;
    bottom:5%;
    padding: 20px;
  }
  .modalContainer.modalContainer.extended {
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
    margin: 15px;

  }
}
