.Container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: absolute;
  left: 15%;
  top: 10%;
  right: 15%;
  bottom: 10%;
  border: 2.5px solid rgb(204, 202, 202);
  border-radius: 25px;
  padding: 25px;
}