.Container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: absolute;
  left: 15%;
  top: 10%;
  right: 15%;
  bottom: 10%;
  border: 2.5px solid rgb(204, 202, 202);
  border-radius: 25px;
  padding: 25px;
  overflow: auto;
}

@media screen and (max-width: 900px) {
  .Container {
    left: 15px;
    right: 15px;
  }
}

@media screen and (max-width: 450px) {
  .Container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}