h2.Heading {
  flex: 0 0 100%;
  margin: 0px;
  font-size: 2.3rem;
  color: rgb(38, 62, 82);
  word-break: keep-all;
}
@media screen and (max-width: 450px) {
  h2.Heading {
    font-size: 1.8rem;
  }
}
