.fileUploadModal {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.fileUploadModal label.fileInputLabel {
  display: block;
  margin: auto 0;
}

.fileUploadModal .fileUploadBox {
  display: block;
  flex: 0 0 60%;
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid rgb(32, 112, 217);
  background-color: rgb(210, 228, 253);
}

.fileUploadModal input {
  display: block;
  appearance: none;
  margin-top: 20px;
}
.fileUploadModal input::file-selector-button {
  appearance: none;
  outline: none;
  margin: 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 69, 243);
  color: aliceblue;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 65px;
  width: 100%;
}

button#uploadFileBtn {
  /* flex: 1 1 100%; */
  width: 100%;
  margin-top: auto;
}
.fileUploadModal p {
  flex: 0 0 100%;
}

@media screen and (max-width: 475px) {
  .fileUploadBox {
    width: 100%;
  }

  button#uploadFileBtn {
    /* padding: 10px 5px !important; */
  }

  .fileUploadModal input::file-selector-button {
    width: 80%;
    margin: 0 auto;
  }
}
