.MyInput{
    /* appearance: none; */
    outline: none;
    margin: 0;
    padding: 5px 10px;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 15px;
    box-shadow:inset 0 0 3px 0 #b8b8b882;
    background-color: rgb(246, 246, 246);
    color: rgb(68, 68, 68);
    font-size: 1rem;
    font-weight: 500;
    height: 45px;
   
}