.MyButton{
    appearance: none;
    outline: none;
    margin: 0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 69, 243);
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 500;
    max-height: 65px;
    
}