li.FileElem {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 48.5%;
    /* width: 100%; */
    padding: 15px;
    border: 2.5px solid rgb(211, 211, 211);
    border-radius: 15px;
    transition: .3s ease all;
}
.FileElem h3 {
    font-size: 1.2rem;
    color: #131e53;
}
li.FileElem:hover {
    transition: .2s ease all;
    box-shadow: inset 0 0 7px 0 #afafaf86;
}
li.FileElem button {
    font-size: 1rem;
    flex: 0 0 100%;
    margin-left: auto;
    transition: .3s all;
    width: 35%;
}
li.FileElem button:hover {
    border-radius: 15px;
    font-weight: 700;
    font-size: 1.02rem;
}