li.FileElem {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 48.5%;
  /* width: 100%; */
  padding: 10px;
  border: 2.5px solid rgb(211, 211, 211);
  border-radius: 15px;
  transition: 0.3s ease all;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: inset 0 0 7px 0 #afafaf86;
}
.FileElem h4 {
  font-size: 1.2rem;
  color: #131e53;
  max-width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
}
li.FileElem button {
  font-size: 1rem;
  flex: 0 0 100%;
  margin-left: auto;
  transition: 0.3s all;
  width: 35%;
}
@media screen and (min-width: 900px) {
  li.FileElem {
    box-shadow: none;
  }
  li.FileElem:hover {
    transition: 0.2s ease all;
    box-shadow: inset 0 0 7px 0 #afafaf86;
  }

  li.FileElem button:hover {
    border-radius: 15px;
    font-weight: 700;
    font-size: 1.02rem;
  }
}
@media screen and (max-width: 600px) {
  .FileElem h4 {
    width: 30%;
    font-size: 1.2rem;
  }
  li.FileElem  {
    flex: 0 0 100%;
  }
  li.FileElem button {
    width: 40%;
  }
}
