.main .fileList {
    flex: 0 0 100%;
}
.main #createFileBtn {
    flex: 0 0 100%;
    margin-top: auto;
}
.main #logout {
    position: absolute;
    left: 15px;
    bottom: 15px;
    z-index: 100;
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(99, 99, 99);
    background-color: rgb(191, 191, 191);
}
